// Colors and general aesthetics
$body-bg: #F7FCF8;
$body-color: #28435D;
$heading-color: #1F4257;
$link-color: #38BDDE;
$highlighted-code-bg: #cbdded;
$inverse-bg: #2c8475;
$inverse-color: #EDF3EF;
$inverse-heading-color: #A2DED0;
$title-slide-bg: #FFC0CB;
$title-slide-color: #002366;
$blockquote-border-color: #006699;
$blockquote-bg: rgba(255,255,255,1);
$background-color: #1c5253;
$text-color: #000;
$border-color: #1c5253;
$highlight-color: #F2B155;
$fade-opacity: 0.5;

// Layout adjustments for minimalism and overflow handling
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.scroll-box {
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0.5em;
  border: 1px solid $border-color;
  border-radius: 15px;
  box-shadow: 0 0 8px $highlight-color;
  background-color: $blockquote-bg;
  margin-bottom: 1em;
}


.reveal h1 {
  font-size: 18px; // Decrease font size from default if needed
  color: blue;
}

.reveal h2 {
    font-size: 4vw; // Adjust the value as needed to ensure it fits in one line
    line-height: 1.2;
    padding: 5px 0px 5px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    //white-space: nowrap; // Prevents the text from wrapping to a new line
}


.reveal h3 {
  font-size: 6px; /* Adjust for tertiary headers if needed */
}



.reveal code, .reveal pre, pre, .remark-code, .remark-inline-code {
  font-family: "Courier New", Courier, monospace; // Ensures consistent width of characters
  background-color: #cbdded; // Light blue background for visibility
  border-radius: 5px; // Rounded corners for aesthetics
  box-shadow: 0 0 8px rgba(0,0,0,0.07); // Subtle shadow for depth
  white-space: pre-wrap; // Allows code to wrap and respects white spaces
  word-wrap: break-word; // Prevents long words from forcing a horizontal scroll
  overflow-x: visible; // No horizontal scroll, content extends beyond container
  overflow-y: visible; // No vertical scroll, content extends beyond container
  max-height: none; // Removes the maximum height restriction
}



.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.left, .right {
  flex: 1; // Both take equal space
  padding: 10px; // Spacing
}

.left {
  order: 1; // Ensures the left block appears first
}

.right {
  order: 2; // Ensures the right block appears second
}


.custom-space {
    margin-top: 200px; /* Adjust the pixel value based on the space you need */
}


// Responsive table, image, and overlay styles
table, .img-stack img, .image-overlay-container, .shiny-output-panel, .shiny-plot-output {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.image-overlay-container {
  position: relative;
  display: inline-block;
}

.image-overlay-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-text {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
}


.inverse {
  background-color: #349632;
  color: #fff;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #FFD700;
}

.note {
  font-size: 0.8em;
  font-style: italic;
  background-color: #f0f0f0;
  color: #333;
  padding: 0.25em;
  margin-top: 0.5em;
  border-left: 4px solid #007bff;
  display: block;
}


// Table styling for clarity and visual segmentation
table {
  thead th {
    background-color: #007bff;
    color: white;
  }

  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  tbody tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr td.important {
    background-color: #ffdd59;
    color: black;
  }
}

// Additional custom styles
.action, .img, .dark-green, .dark-blue, .dark-gray {
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 1.5rem;
}



.inline-c {
  background: $inverse-bg;
  color: $inverse-color;
  border-radius: 10px;
  padding: 20px;
}

.green-h, .out-g {
  background: #9fff9f;
  color: #215A4A;
}

.yellow-h, .out-y {
  background: #ffff9f; 
  color: #857A30; 
}


// Fade effect
.fade {
  opacity: $fade-opacity;
}

// Code highlights
.hljs-solarized-light .hljs {
  color: $body-color;
}


.hljs-github .hljs {
  background: $background-color;
  color: white;
}


