project:
  type: website
output-dir: _site


website:
  title: "Math 493: Advanced Topics in Statistics"
  navbar:
    title: "Math 493"
    pinned: true
    left:
      - text: "Home"
        href: index.html
      - text: "About"
        href: about.html
      - text: "Activities"
        menu:
          - text: "Activity1"
            href: activity1.html
          - text: "Activity2"
            href: activity2.html
          - text: "Activity3"
            href: activity3.html
          - text: "Activity4"
            href: activity4.html
          - text: "Activity5"
            href: activity5.html
          - text: "Activity6"
            href: activity6.html
          - text: "Activity7"
            href: activity7.html
          - text: "Activity8"
            href: activity8.html
          - text: "Activity9"
            href: activity9.html
          - text: "Activity10"
            href: activity10.html
          - text: "Activity11"
            href: activity11.html
          - text: "Activity12"
            href: activity12.html
          - text: "Activity13"
            href: activity13.html
          - text: "Activity14"
            href: activity14.html
          - text: "Activity15"
            href: activity15.html
          - text: "Activity16"
            href: activity16.html
          # - text: "Activity1"
          #   href: activity1.html
          # - text: "Activity2"
          #   href: activity2.html
          # - text: "Activity3"
          #   href: activity3.html
          # - text: "Activity4"
          #   href: activity4.html
          # - text: "Activity5"
          #   href: activity5.html
          # - text: "Activity6"
          #   href: activity6.html
          # - text: "Activity7"
          #   href: activity7.html
          # - text: "Activity8"
          #   href: activity8.html
          # - text: "Activity1"
          #   href: activity1.html
          # - text: "Activity2"
          #   href: activity2.html
          # - text: "Activity3"
          #   href: activity3.html
          # - text: "Activity4"
          #   href: activity4.html
          # - text: "Activity5"
          #   href: activity5.html
          # - text: "Activity6"
          #   href: activity6.html
          # - text: "Activity7"
          #   href: activity7.html
          # - text: "Activity8"
          #   href: activity8.html
           #     target: "_blank"
        #   - text: "Lecture 2"
        #     href: Day2.html
        #     target: "_blank"
      - text: "Datasets"
        menu:
          - text: "Google"
            href: googledata.html
      - text: "Tutorials"
        menu:
          - text: "R and RStudio"
            href: RandRStudio.html

format:
  html:
    highlight-style: arrow
    fontsize: 1.1em
    code-overflow: wrap
    theme:
      light: minty
      dark: darkly
    css: styles.css
    toc: true
    page-layout: full
    code-link: true
    anchor-sections: true
    fig-cap-location: margin
    reference-location: margin
    footnotes-hover: true 
filters:
  - shinylive
  - webr

page-footer: 
  left: |
    <span class="faux-block">&#169; 2024 Deepak Bastola</span>
  right: |
    <span class="faux-block"><a href="https://github.com/deepbas/">View source on GitHub</a></span>

execute:
  new_session: true
  before_chapter_script: common.R
  freeze: true
  eval: true
  echo: true
  warning: false

language:
  label:
    chapter: "Chapter "
